<mat-card>
    <div class="row">
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label> সাপ্লাই প্রোডাক্ট : </mat-label>
          <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="fetchAllInvoices()"
            [(ngModel)]="queryBody.productName">
            <mat-option *ngFor="let product of productList" [value]="product.value">{{product?.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>মোবাইল নং:</mat-label>
          <input  pInputText [ngModelOptions]="{standalone:true}" (change)="fetchAllInvoices()" [(ngModel)]="queryBody.contactNo"
            placeholder="Contact" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="fromDatePicker" (dateInput)="fetchAllInvoices()"
                [ngModelOptions]="{standalone:true}" [(ngModel)]="queryBody.fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="toDatePicker" (dateInput)="fetchAllInvoices()"
                [ngModelOptions]="{standalone:true}" [(ngModel)]="queryBody.toDate">
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Select Due Type: </mat-label>
        <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="fetchAllInvoices()"
          [(ngModel)]="queryBody.isDue">
          <mat-option *ngFor="let due of dueList" [value]="due.value">{{due?.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="col-md-2">
        <button style="margin: 10px; float: left;" (click)="refresh()" mat-raised-button
          color="warn"> <mat-icon>refresh</mat-icon> Refresh</button>
      </div>
      <div class="col-md-2">
        <button style="margin: 10px; float: left;" (click)="export()" mat-raised-button
          color="warn"> <mat-icon>output</mat-icon> Export</button>
      </div>
    </div>
    <div class="row">
      <div class="md-col-12" style="overflow-x:auto;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <!-- <th scope="col">Invoice No</th> -->
              <th scope="col">Supplyer</th>
              <th scope="col">Contact</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <!-- <th scope="col">Quantity type</th> -->
              <th scope="col">Total Price</th>
              <th scope="col">Advance</th>
              <th scope="col">Due</th>
              <th scope="col">Rebate</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoiceList; index as i">
              <td scope="row">{{i+offset+1}}</td>
              <!-- <td>{{invoice.invoiceNo}}</td> -->
              <td>{{invoice.supplyer.person.personName}}</td>
              <td>{{invoice.supplyer.person.contactNo}}</td>
              <!-- <td>{{invoice.customer.person.personAddress}}</td> -->
              <td>{{invoice.productName}}</td>
              <td>{{invoice.quantityType}}</td>
              <td>{{invoice.totalAmountToPay}}</td>
              <td>{{invoice.advancePayment}}</td>
              <td>{{invoice.duePayment}}</td>
              <td>{{invoice.rebate}}</td>
              <td>
                <!-- <button mat-button (click)="openInvoice(invoice)" color="warn" >
                    Add Schedule
                  </button> -->
                <button mat-mini-fab (click)="editInvoice(invoice)" color="primary">
                  <mat-icon>menu</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- <tfoot>
            <td colspan="11">
              <div  style="float:right ;font-size: 16px;">
                <button mat-icon-button color="primary" (click)="previousPage()">
                  <mat-icon>fast_rewind</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="nextPage()">
                  <mat-icon>fast_forward</mat-icon>
                </button>
              </div>
            </td>
          </tfoot> -->
        </table>
      </div>
      <div class="col-md-12">
        <div style="float:right ;font-size: 16px;">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageChange($event)" aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-card>