<mat-card class="mt-5" style="padding:50px ;">
  <app-add-person (customerAddedEvent)="updateList($event)"></app-add-person>
  <h1 class="mt-5">Customer List</h1>
  <table class="table table-striped" style="text-align:center ;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact No</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList; index as i">
        <td>{{customer.id}}</td>
        <td>{{customer?.person?.personName}}</td>
        <td>{{customer?.person?.contactNo}}</td>
        <td>{{customer?.person?.personAddress}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>