<div class="container mt-3">
    <h2>This is customer-list page</h2>
    <mat-card>
      <app-add-person (customerAddedEvent)="updateList($event)" ></app-add-person>
    </mat-card>
    <div class="mt-4 p-5 bg-light rounded">
        <h1>Customer List</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact No</th>
                <th>Address</th>
                <th>Balance</th>
                <th>Due</th>
                <th>Delivery Pending</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customerList; index as i">
                <td>{{customer.id}}</td>
                <td>{{customer?.person?.personName}}</td>
                <td>{{customer?.person?.contactNo}}</td>
                <td>{{customer?.person?.personAddress}}</td>
                <td>{{customer?.account?.balance}}</td>
                <td>{{customer?.account?.due}}</td>
                <td>NO</td>
                <td>
                  <button mat-mini-fab (click)="edit(customer)" color="primary" >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span style="margin-right: 5px;"> </span>
                  <button mat-mini-fab (click)="deletecustomer(customer)" color="primary" >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>