<mat-card class="mt-5">
    <div class="row">
        <h2>Invoice No: {{delivery.invoiceId}}</h2>
        <hr/>
        <div class="col-md-6">
            <table class="table table-striped" >
                <tbody>
                    <tr>
                        <td>Delivery Status:</td>
                        <td>{{delivery.deliveryStatus}} </td>
                    </tr>
                    <tr *ngIf="isPaymentDue" style="color: crimson ;font-weight: bolder;">
                        <td>Due Payment:</td>
                        <td>{{delivery?.invoice?.duePament}} BDT</td>
                    </tr>
                    <tr>
                        <td>Deliverable Quantity:</td>
                        <td>{{delivery.deliverableQuantity}} </td>
                    </tr>
                    <tr>
                        <td>Schedule Date:</td>
                        <td>{{applyFilter(delivery?.scheduledDate)}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped" >
                <tbody>
                    <tr>
                        <td>Driver Name:</td>
                        <td>{{delivery?.driver?.person?.personName}}</td>
                    </tr>
                    <tr style="color: #424241 ;font-weight: bolder;">
                        <td> Contact No: </td>
                        <td>{{delivery?.driver?.person?.contactNo}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle Category</td>
                        <td>{{delivery?.vehicleCategory?.categoryName}} </td>
                    </tr>
                    <tr>
                        <td>Trip Needed :</td>
                        <td>{{delivery?.tripNeeded}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Transport Cost: {{delivery?.transportCost }}</h2>
            <!-- <mat-form-field class="input-field" appearance="fill">
                <mat-label>Transport Cost:</mat-label>
                <input [ngModelOptions]="{standalone:true}" [(ngModel)]="delivery.transportCost" 
                [disabled]="true" matInput>
            </mat-form-field> -->
        </div>
        <div class="col-md-4">
            <mat-checkbox  [(ngModel)]="transportCostCustomerPayable">
                পরিবহন খরচ কাস্টমার পরিশোধ করবে
            </mat-checkbox>
        </div>
        <div class="col-md-4">
            <button style="float:right; margin-top: 10px; width: 60%;" mat-raised-button 
            (click)="doDelivery()" color="accent">Deliver</button>
        </div>
    </div>
</mat-card>


