<div class="container">
    <form [formGroup]="invoiceIssueForm">
        <mat-card>
            <h2>Customer Details:</h2>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Contact No:</mat-label>
                        <input (change)="searchCustomer()" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="person.contactNo" placeholder="Contact No" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Customer Name :</mat-label>
                        <input [ngModelOptions]="{standalone:true}" [(ngModel)]="person.personName" [disabled]="true"
                            placeholder="Customer Name" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Balance:</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}" [disabled]="true"
                            [(ngModel)]="account.balance" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Due:</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}" [disabled]="true"
                            [(ngModel)]="account.due" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Address:</mat-label>
                        <textarea pInputText [ngModelOptions]="{standalone:true}" [disabled]="true"
                            [(ngModel)]="person.personAddress" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <mat-card class="mt-5">
            <h2>Order Details:</h2>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="fill" class="input-field">
                        <mat-label>Select Brick Type</mat-label>
                        <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageBrick()"
                            [(ngModel)]="selectedBrick">
                            <mat-option *ngFor="let brick of bricks" [value]="brick">{{brick?.category}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Price Rate:</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="selectedBrick.pricePerPiece" disabled="true" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Quantity:</mat-label>
                        <input type="number" (change)="calculateTotalPrice()" pInputText
                            [ngModelOptions]="{standalone:true}" [(ngModel)]="orderItem.quantity" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Total Price:</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="orderItem.totalPrice" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <button style="margin: 10px; float: right;" (click)="addOrder()" mat-raised-button
                        color="primary">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5" style="border:1px solid blacknn ;border-radius:2px ;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Brick Name</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders; index as i">
                                <td>{{i+1}}</td>
                                <td>{{order?.brick?.category}}</td>
                                <td>{{order?.quantity}}</td>
                                <td>{{order?.totalPrice}}</td>
                                <td>
                                    <!-- <button mat-icon-button color="primary" (click)="editOrder(i)">
                                        <mat-icon>open_in_new</mat-icon>
                                    </button> -->
                                    <button mat-icon-button color="warn" (click)="deleteOrder(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card>
        <mat-card class="mt-5">
            <div class="row">
                <h2>Schedule Delivery</h2>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Delivarable Quantity :</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="scheduleItem.deliverableQuantity" placeholder="Delivarable Quantity" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Trip Needed :</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="scheduleItem.tripNeeded" placeholder="Trip Needed" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Transport Cost</mat-label>
                        <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="scheduleItem.transportCost" placeholder="00" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Schedule Date</mat-label>
                        <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="scheduleItem.scheduledDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="input-field">
                        <mat-label>Select Driver</mat-label>
                        <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageDriver()"
                            [(ngModel)]="scheduleItem.driver">
                            <mat-option *ngFor="let driver of drivers" [value]="driver">{{driver?.person?.personName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- vehicle  -->
                <div class="col-md-3">
                  <mat-form-field appearance="fill" class="input-field">
                      <mat-label>Select Vehicle</mat-label>
                      <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageVehicle()"
                          [(ngModel)]="scheduleItem.vehicleCategory">
                          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle?.categoryName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

                <div class="col-md-9">
                    <button  style="float:right ; margin-top: 10px;" mat-raised-button (click)="addSchedule()" color="accent">Add</button>
                </div>
                <div class="col-md-12 mt-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Quantity</th>
                                <th>Trip Needed</th>
                                <th>Transport Cost</th>
                                <th>Driver</th>
                                <th>Vehicle Type</th>
                                <th>Schedule Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delivery of schedules; index as i">
                                <td>{{i+1}}</td>
                                <td>{{delivery?.deliverableQuantity}}</td>
                                <td>{{delivery?.tripNeeded}}</td>
                                <td>{{delivery?.transportCost}}</td>
                                <td>
                                  {{delivery?.driver?.person?.personName}} (Mob: {{delivery?.driver?.person?.contactNo}})
                                </td>
                                <td>{{delivery?.vehicleCategory?.categoryName}}</td>
                                <td>{{applyFilter(delivery?.scheduledDate)}}</td>
                                <td>
                                    <!-- <button mat-icon-button color="primary" (click)="editDelivery(i)">
                                        <mat-icon>open_in_new</mat-icon>
                                    </button> -->
                                    <button mat-icon-button color="warn" (click)="deleteDelivery(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card>
        <mat-card class="mt-5">
          <div class="row">
            <h2>Invoice Summary</h2>
              <div class="col-md-3">
                <h3>Total Quantity</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Total Quantity:</mat-label>
                  <input type="number" pInputText formControlName="totalQuantity" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <h3>Total Price</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Total Price:</mat-label>
                  <input type="number" pInputText formControlName="totalPrice" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <h3>Transport Cost:</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Transport Cost:</mat-label>
                  <input type="number" pInputText formControlName="transportCost" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <h3>Total Billing:</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Total Bill:</mat-label>
                  <input type="number" pInputText formControlName="totalBill" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <h3>Advance Payment:</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Advance:</mat-label>
                  <input type="number" pInputText formControlName="advancePayment" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <h3>Due Payment:</h3>
                <mat-form-field class="input-field" appearance="fill">
                  <mat-label>Due:</mat-label>
                  <input type="number" pInputText formControlName="duePayment" [disabled]="true" matInput>
                </mat-form-field>
              </div>
              <div *ngIf="!isEdit" class="col-md-12">
                <button style="margin: 10px; float: right;"  mat-raised-button color="primary" (click)="submitInvoice()">Submit</button>
              </div>
              <div *ngIf="isEdit" class="col-md-12">
                <button style="margin: 10px; float: right;"  mat-raised-button color="primary" (click)="updateInvoice()">Submit</button>
              </div>
            </div>
        </mat-card>
    </form>
</div>

