<mat-card class="mt-5 " style="padding:50px ;">
  <app-add-driver (driverAddedEvent)="updateList($event)"></app-add-driver>
  <h1 class="mt-5">Drivers List</h1>
  <table class="table table-striped" style="text-align:center ;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>Amount To Pay</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of driverList; index as i">
          <td>{{driver.id}}</td>
          <td>{{driver?.person?.personName}}</td>
          <td>{{driver?.person?.contactNo}}</td>
          <td>{{driver?.person?.personAddress}}</td>
          <td style="color:crimson ;">{{driver?.account?.amountToPay}}</td>
          <!-- <td>
            <button mat-icon-button color="warn" (click)="deleteDriver(driver)" aria-label="Delete Sordar">
              <mat-icon>delete</mat-icon>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="row">
      <div class="col-md-12">
        <div style="float:right ;font-size: 16px;">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageChange($event)" aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div> -->
</mat-card>