<div class="container mt-3">
    <h2>This is driver-list page</h2>
    <mat-card>
        <app-add-driver (driverAddedEvent)="updateList($event)"></app-add-driver>
    </mat-card>
    <div class="mt-4 p-5 bg-light rounded">
        <h1>Drivers List</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact No</th>
                <th>Address</th>
                <th>Balance</th>
                <th>Due</th>
                <th>Delivery Pending</th>
                <!-- <th>Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let driver of driverList; index as i">
                <td>{{driver.id}}</td>
                <td>{{driver?.person?.personName}}</td>
                <td>{{driver?.person?.contactNo}}</td>
                <td>{{driver?.person?.personAddress}}</td>
                <td>{{driver?.account?.balance}}</td>
                <td>{{driver?.account?.due}}</td>
                <td>NO</td>
                <!-- <td>
                  <span style="margin-right: 5px;"> </span>
                  <button mat-mini-fab (click)="deleteDriver(driver)" color="primary" >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td> -->
              </tr>
              
            </tbody>
          </table>
    </div>
</div>