<mat-card class="mt-5 ">
  <app-add-driver (driverAddedEvent)="updateList($event)"></app-add-driver>
  <h1 class="mt-5">Drivers List</h1>
  <table class="table table-striped" style="text-align:center ;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>Amount To Pay</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of driverList; index as i">
          <td>{{driver.id}}</td>
          <td>{{driver?.person?.personName}}</td>
          <td>{{driver?.person?.contactNo}}</td>
          <td>{{driver?.person?.personAddress}}</td>
          <td style="color:crimson ;">{{driver?.account?.amountToPay}}</td>
        </tr>
      </tbody>
    </table>
</mat-card>