
<div class="row">
    <div class="col-md-3">
        <mat-card class="mt-5">
            <h4>Factory Balance</h4>
            <h2>{{summary.balance}} BDT</h2>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mt-5">
            <h4>Todays Sale</h4>
            <h2>{{summary.totalSale}} BDT</h2>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mt-5">
            <h4>Todays Expense</h4>
            <h2>{{summary.totalExpense}} BDT</h2>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mt-5">
            <h4>Todays Income</h4>
            <h2>{{summary.totalIncome}} BDT</h2>
        </mat-card>
    </div>
    

</div>