
<div class="row">
    <div class="col-md-4">
        <mat-card class="mt-5 balance-box">
            <h4>ফ্যাক্টরি ব্যালান্স:</h4>
            <hr/>
            <h2>{{summary.balance}} টাকা</h2>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="mt-5 balance-box">
            <h4>আজকের সেল:</h4>
            <hr/>
            <h2>{{summary.totalSale}} টাকা</h2>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="mt-5 balance-box">
            <h4>আজকের খরচ:</h4>
            <hr/>
            <h2>{{summary.totalExpense}} টাকা</h2>
        </mat-card>
    </div>
    <!-- <div class="col-md-3">
        <mat-card class="mt-5">
            <h4>আজকের ইনকাম</h4>
            <h2>{{summary.totalIncome}} টাকা</h2>
        </mat-card>
    </div> -->
    

</div>