<mat-card>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>সর্দারের নাম :</mat-label>
                <mat-select [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedSordar" (selectionChange)="onChnageSordar()">
                    <mat-option *ngFor="let sordar of sordars" [value]="sordar">{{sordar?.person?.personName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>