<mat-card class="mt-5">
  <app-add-supplyer (supplyerAddedEvent)="updateList($event)"></app-add-supplyer>
    <h1>Supplyer List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>Amount To Pay</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplyer of supplyersList; index as i">
          <td>{{supplyer.id}}</td>
          <td>{{supplyer?.person?.personName}}</td>
          <td>{{supplyer?.person?.contactNo}}</td>
          <td>{{supplyer?.person?.personAddress}}</td>
          <td style="color:crimson ;">{{supplyer?.account?.amountToPay}}</td>
          <td>
            <button mat-mini-fab (click)="edit(supplyer)" color="primary">
              <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-right: 5px;"> </span>
            <button mat-mini-fab (click)="deletecustomer(supplyer)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</mat-card>