<div class="mt-4 p-5 bg-light rounded">
  <mat-card class="mt-5">
    <h2>This is Supplyer-list page</h2>

    <app-add-supplyer (supplyerAddedEvent)="updateList($event)"></app-add-supplyer>
    <div class="mt-4 p-5 bg-light rounded">
      <h1>Supplyer List</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact No</th>
            <th>Address</th>
            <!-- <th>Balance</th> -->
            <th>Amount To Pay</th>
            <th>Product</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplyer of supplyersList; index as i">
            <td>{{supplyer.id}}</td>
            <td>{{supplyer?.person?.personName}}</td>
            <td>{{supplyer?.person?.contactNo}}</td>
            <td>{{supplyer?.person?.personAddress}}</td>
            <!-- <td>{{supplyer?.account?.balance}}</td> -->
            <td style="color:crimson ;">{{supplyer?.account?.amountToPay}}</td>
            <td>{{supplyer?.product?.productName}}</td>
            <td>
              <button mat-mini-fab (click)="edit(supplyer)" color="primary">
                <mat-icon>menu</mat-icon>
              </button>
              <span style="margin-right: 5px;"> </span>
              <button mat-mini-fab (click)="deletecustomer(supplyer)" color="primary">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </mat-card>
</div>