<mat-card class="mt-5" style="padding:50px ;">
  <!-- <app-add-supplyer (supplyerAddedEvent)="updateList($event)"></app-add-supplyer> -->
    <h1>Supplyer List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>Amount To Pay</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplyer of supplyersList; index as i">
          <td>{{supplyer.id}}</td>
          <td>{{supplyer?.person?.personName}}</td>
          <td>{{supplyer?.person?.contactNo}}</td>
          <td>{{supplyer?.person?.personAddress}}</td>
          <td style="color:crimson ;">{{supplyer?.account?.amountToPay}}</td>
          <td>
            <!-- <button mat-mini-fab (click)="edit(supplyer)" color="primary">
              <mat-icon>menu</mat-icon>
            </button> -->
            <!-- <span style="margin-right: 5px;"> </span> -->
            <button mat-mini-fab (click)="deletecustomer(supplyer)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="row">
        <div class="col-md-12">
          <div style="float:right ;font-size: 16px;">
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="pageChange($event)" aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
      </div>
</mat-card>