<!-- <div class="mt-4 p-5 bg-light rounded"> -->
   <h1>Dashboard</h1>
   <hr>
   <div class="row">
      <div class="col-md-3">
         <mat-form-field class="input-field" appearance="outline">
            <mat-label>Set Year Starting Date</mat-label>
            <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone:true}"
                            [(ngModel)]="startingDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
         <button type="submit" (click)="setAppConfiguration()" mat-raised-button color="primary">Set Date</button>
      </div>
   </div>
   <!-- <mat-card> -->
      <app-dashboard-summary></app-dashboard-summary>
      <hr>
      <div class="row mt-4">
         <div class="col-md-12">
            <mat-card>
               <h1>Bricks Reserve</h1>
               <hr>
               <table class="table table-striped" style="overflow-x:auto;">
                  <thead>
                     <tr>
                        <th *ngFor="let brick of bricks">{{brick?.category}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td *ngFor="let brick of bricks">{{brick?.quantity}}</td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                        <th>Total:</th>
                        <td>{{totalBrick}}</td>
                        <th>Total Stock Value:</th>
                        <td>{{totalStockValue}} BDT</td>
                     </tr>
                  </tfoot>
               </table>
            </mat-card>
         </div>
         
         <div class="col-md-12 mt-3">
            <hr>
            <mat-card style="overflow: scroll;">
               <h1>Load Unload History</h1>
               <hr>
               <div class="row">
                  <div class="col-md-3">
                     <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Load Type</mat-label>
                        <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageType()"
                            [(ngModel)]="selectedType">
                            <mat-option *ngFor="let type of loadingTypes" [value]="type.value">
                                {{type?.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                     <mat-form-field appearance="outline">
                         <mat-label>From Date</mat-label>
                         <input matInput [matDatepicker]="fromDatePicker" (dateInput)="onDateChange()"
                             [ngModelOptions]="{standalone:true}" [(ngModel)]="fromDate">
                         <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                         <mat-datepicker #fromDatePicker></mat-datepicker>
                     </mat-form-field>
                 </div>
                 <div class="col-md-3">
                     <mat-form-field appearance="outline">
                         <mat-label>To Date</mat-label>
                         <input matInput [matDatepicker]="toDatePicker" (dateInput)="onDateChange()"
                             [ngModelOptions]="{standalone:true}" [(ngModel)]="toDate">
                         <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                         <mat-datepicker #toDatePicker></mat-datepicker>
                     </mat-form-field>
                 </div>
               </div>
               <table class="table table-striped" style="overflow-x:auto;">
                  <thead>
                     <tr>
                        <th>SN</th>
                        <th>Category Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Production Date</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngIf="loadUnloadHistoryList?.length==0">
                        <td colspan="6">No History Found</td>
                     </tr>
                     <tr *ngFor="let history of loadUnloadHistoryList ; index as i">
                        <td>{{i+1}}</td>
                        <td>{{history.categoryName}}</td>
                        <td>{{history.type}}</td>
                        <td>{{history.quantity}}</td>
                        <td>{{history.productionDate}}</td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                       <td colspan="4"></td>
                       <td>
                         <div  style="float:right ;font-size: 16px;">
                           <button mat-icon-button color="primary" (click)="previousPage()">
                             <mat-icon>fast_rewind</mat-icon>
                           </button>
                           <button mat-icon-button color="primary" (click)="nextPage()">
                             <mat-icon>fast_forward</mat-icon>
                           </button>
                         </div>
                       </td>
                     </tr>
                   </tfoot>
               </table>
            </mat-card>
         </div>
      </div>
   <!-- </mat-card> -->
<!-- </div> -->