<!-- <div class="mt-4 p-5 bg-light rounded"> -->
   <h1>Dashboard</h1>
   <!-- <mat-card> -->
      <div class="row">
         <div class="col-md-3">
            <h3>Sale</h3>
            <table class="table table-striped" >
               <thead>
                  <tr>
                     <th>Brick Type</th>
                     <th>Stock</th>
                     <!-- <th>Amount In Taka</th> -->
                  </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let brick of bricks">
                     <td>{{brick?.category}}</td>
                     <td>{{brick?.quantity}}</td>
                     <!-- <td>2000000 BDT</td> -->
                 </tr>
                  <!-- <tr>
                     <td>পিকিট</td>
                     <td>200000</td>
                     <td>2000000 BDT</td>
                  </tr>
                  <tr>
                     <td>কাঁচা ইট</td>
                     <td>203754</td>
                     <td>2000000 BDT</td>
                  </tr> -->
               </tbody>
            </table>
         </div>
         <div class="col-md-3">

         </div>
         <div class="col-md-3">

         </div>
         <div class="col-md-3">

         </div>

      </div>
   <!-- </mat-card> -->
<!-- </div> -->