<div class="container">
  <!-- <mat-card> -->
  <h2>Make Invoice for Supply</h2>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <h2>Supplyer Details:</h2>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Contact No:</mat-label>
              <input (change)="searchSupplyer()" pInputText [ngModelOptions]="{standalone:true}"
                [(ngModel)]="person.contactNo" placeholder="Contact No" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Supplyer Name :</mat-label>
              <input [ngModelOptions]="{standalone:true}" [(ngModel)]="person.personName" placeholder="Supplyer Name"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Select Delivery Type</mat-label>
              <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageDeliveryType()"
                [(ngModel)]="selectedType">
                <mat-option *ngFor="let type of deliveryTypeList" [value]="type.value">{{type?.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Select Supplying Product</mat-label>
              <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageProduct()"
                [(ngModel)]="selectedProduct">
                <mat-option >Select Product Type</mat-option>
                <mat-option *ngFor="let product of productList" [value]="product">{{product?.productName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Address:</mat-label>
              <textarea type="text" pInputText [ngModelOptions]="{standalone:true}" [(ngModel)]="person.personAddress"
                matInput></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="needSupplyer">
            <button type="button" style="margin-top:42px ;" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#myModal">
              Add New Supplyer
            </button>
          </div>
          <div class="col-md-12">
            <span style="color:red ;">{{notFoundMessage}}</span>
          </div>
        </div>
      </mat-card>
    </div>
    <div *ngIf="isCC" class="col-md-12 mt-5">
      <mat-card>
        <h2>গাড়ি চু্ক্তি</h2>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>গাড়ির ধরন</mat-label>
              <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageVehicle()"
                [(ngModel)]="supplyInvoice.vehicleCategoryName">
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle?.categoryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>ট্রিপ লাগবে:</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (keyup)="calculateCCTotal()"
                [(ngModel)]="supplyInvoice.numberOfTrips" placeholder="Trip Needed" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>ক্রয় মূল্য/ট্রিপ:</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (keyup)="calculateCCTotal()"
                [(ngModel)]="supplyInvoice.pricePerTrip" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>মোট ক্রয় মূল্য </mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateSummary()"
                [(ngModel)]="supplyInvoice.totalPrice" placeholder="00" matInput>
            </mat-form-field>
          </div>
          
        </div>
      </mat-card>
    </div>
    <div *ngIf="isCFT" class="col-md-12 mt-5">
      <mat-card class="mt-2">
        <h3>CFT</h3>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>গাড়ির ধরন</mat-label>
              <mat-select [ngModelOptions]="{standalone:true}" (selectionChange)="onChnageVehicle()"
                [(ngModel)]="supplyInvoice.vehicleCategoryName">
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle?.categoryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Quantity in CFT</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateCFTotal()"
                [(ngModel)]="supplyInvoice.cftQuantity" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Acctual Quantity in CFT</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateCFTotal()"
                [(ngModel)]="supplyInvoice.actualCftQuantity" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Cost Per CFT</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateCFTotal()"
                [(ngModel)]="supplyInvoice.pricePerCFT" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Total Cost:</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateCFTotal()"
                [(ngModel)]="supplyInvoice.totalCFTPrice" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Accual Price</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateCFTotal()"
                [(ngModel)]="supplyInvoice.actualCFTPrice" placeholder="00" matInput>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- <div *ngIf="isEsc" class="col-md-12 mt-5">
      <mat-card class="mt-2">
        <h3>এসকেভেটর</h3>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Actual Hour</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateHourlyCost()"
                [(ngModel)]="supplyInvoice.totalHour" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Rate per Hour</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateHourlyCost()"
                [(ngModel)]="supplyInvoice.costPerHour" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Total Bill</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                [(ngModel)]="supplyInvoice.totalPrice" placeholder="00" matInput>
            </mat-form-field>
          </div>
        </div>

      </mat-card>
    </div> -->
    <div  class="col-md-12">
      <mat-card  class="mt-4">
        <h2>পরিবহন</h2>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>ড্রাইভার:</mat-label>
              <mat-select [ngModelOptions]="{standalone:true}" 
                [(ngModel)]="selectedDriver">
                <mat-option *ngFor="let driver of drivers" [value]="driver">{{driver?.person?.personName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="!isEsc" class="col-md-2">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>ট্রিপ লাগবে:</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (keyup)="calculateTransportCost()"
                [(ngModel)]="supplyInvoice.numberOfTrips" placeholder="Trip Needed" matInput>
            </mat-form-field>
          </div>
          <div *ngIf="!isEsc" class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>পরিবহন খরচ/ট্রিপ:</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (keyup)="calculateTransportCost()"
                [(ngModel)]="transportCostPerTrip" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div *ngIf="!isEsc" class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>মোট পরিবহন খরচ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                [(ngModel)]="supplyInvoice.transportCost" placeholder="00" matInput>
            </mat-form-field>
          </div>
          
        </div>
      </mat-card>

      <mat-card class="mt-4">
        <h2>Sumamry</h2>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>ক্রয় বাবদ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateTotalAmountToPay()"
                [(ngModel)]="supplyInvoice.totalPrice" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>পরিবহন খরচ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                [(ngModel)]="supplyInvoice.transportCost" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>মোট খরচ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateDueAmount()"
                [(ngModel)]="supplyInvoice.totalAmountToPay" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>পরিশোধ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}" (change)="calculateDueAmount()"
                [(ngModel)]="supplyInvoice.advancePayment" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>বাকি বাবদ</mat-label>
              <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                [(ngModel)]="supplyInvoice.duePayment" placeholder="00" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Comment</mat-label>
              <textarea type="text" pInputText [ngModelOptions]="{standalone:true}" [(ngModel)]="supplyInvoice.comment"
              matInput></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <button style="margin-top:30px; float: right;" mat-raised-button color="primary"
                        (click)="submitInvoice()">Submit</button>
          </div>
        </div>
      </mat-card>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <app-add-supplyer [contactNo]="person.contactNo" (supplyerAddedEvent)="uodateContact($event)">
              </app-add-supplyer>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>