<mat-card class="mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stripe">
                <thead>
                    <th>SN</th>
                    <th>Invoice No</th>
                    <th>Transaction Type</th>
                    <th>Transaction Reason</th>
                    <th>Amount</th>
                    <th>Tnx Date</th>
                    <th>Refferense</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tnx of tnxList; index as i">
                        <td>{{i+offset+1}}</td>
                        <td>{{tnx.id}}</td>
                        <td>{{tnx.transactionType}}</td>
                        <td>{{tnx.transactionReason}}</td>
                        <td *ngIf="tnx.transactionType=='INCOME'">{{tnx.income}}</td>
                        <td *ngIf="tnx.transactionType=='EXPENSE'">{{tnx.expense}}</td>
                        <td>{{tnx.transactionDate}}</td>
                        <td>{{tnx.refference}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <button mat-icon-button color="primary" (click)="previousPage()">
                                                                <mat-icon>fast_rewind</mat-icon>
                                                            </button>
                        <button mat-icon-button color="primary" (click)="nextPage()">
                                                                <mat-icon>fast_forward</mat-icon>
                                                            </button>
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <button type="button"  (click)="previousPage()" class="btn btn-primary">Previous</button>
                              </li>
                              <li class="page-item">
                                <button type="button"  (click)="nextPage()" class="btn btn-primary">Next</button>
                            </li>
                            </ul>
                          </nav> -->
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</mat-card>