<div class="mt-4 p-5 text-white rounded">
    <h1>Approval List</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>ID</td>
                    <td>{{invoice.id}}</td>
                  </tr>
                  <tr>
                    <td>Customer Name</td>
                    <td>{{person.personName}}</td>
                  </tr>
                  <tr>
                    <td>Contact No:</td>
                    <td>{{person.contactNo}}</td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>{{person.personAddress}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                  </tr>
                </tbody>
            </table>
        </div>
            <div class="col-md-12 mt-5" style="border:1px solid blacknn ;border-radius:2px ;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Brick Name</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of invoice.orders; index as i">
                            <td>{{i+1}}</td>
                            <td>{{order?.brick?.category}}</td>
                            <td>{{order?.quantity}}</td>
                            <td>{{order?.totalPrice}}</td>
                            <td>
                                <!-- <button mat-icon-button color="primary" (click)="editOrder(i)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button> -->
                                <!-- <button mat-icon-button color="warn" (click)="deleteOrder(i)">
                                    <mat-icon>delete</mat-icon>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
 </div>