<mat-card class="mt-5">
  <app-add-sordar (sordarAddedEvent)="updateList($event)"></app-add-sordar>
    <h1>Sprdars List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Address</th>
          <th>Type</th>
          <th>Amount To Pay</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sordar of sordarList; index as i">
          <td>{{sordar.id}}</td>
          <td>{{sordar?.person?.personName}}</td>
          <td>{{sordar?.person?.contactNo}}</td>
          <td>{{sordar?.person?.personAddress}}</td>
          <td>{{sordar?.category}}</td>
          <td style="color:crimson ;">{{sordar?.account?.amountToPay}}</td>
        </tr>
      </tbody>
    </table>
</mat-card>