<mat-card>
    <mat-card class="mt-3">
        <div class="row">
            <h2>Pay Sordar :</h2>
            <div class="col-md-3">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>সর্দারের নাম :</mat-label>
                    <mat-select [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedSordar">
                        <mat-option *ngFor="let sordar of sordars" [value]="sordar">{{sordar.person.personName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
</mat-card>
